.centerLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.body {
  font-family: 'Montserrat', sans-serif;
  background-image: url(../../assets/img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.wrapper {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  height: 90vh;
  width: 600px;
  max-width: 600px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3b8595;
  border-radius: 10px 10px 0 0;
  gap: 20px;
  padding: 15px 20px;
}

.avatar {
  background-color: #3b8595;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  color: white;
  object-fit: cover;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.backBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 50%;
  height: 50px;
  aspect-ratio: 1/1;
  cursor: pointer;
  color: #fff;
}

.backBtn:hover {
  opacity: 0.3;
  background-color: #fff;
  color: #3b8595;
}

.profileName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  gap: 10px;
}

.name {
  font-size: 1.25rem;
}

.deleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.deleteBtn:hover {
  color: rgb(170, 41, 56);
}

.footer {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  bottom: 0;
}

.chatInput {
  font-family: 'Montserrat', sans-serif;
  height: 50px;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1.25rem;
  background-color: #eee;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ddd;
}

.sendBtn {
  background-color: #3b8595;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 50px;
  border: none;
  margin: 0;
  border-radius: 5px;
  padding: 0 20px;
  outline: none;
  font-size: 1.75rem;
  cursor: pointer;
}

.sendBtn:hover {
  background-color: #32707e;
}

.chats {
  margin-top: 10px;
  height: 73vh;
  overflow: hidden;
  overflow-y: auto;
}

.receiver {
  overflow: hidden;
  display: inline-block;
  align-content: flex-end;
  background-color: #ddd;
  word-break: break-all;
  border-radius: 5px;
  color: #222;
  max-width: 75%;
  padding: 15px;
}

.sender {
  overflow: hidden;
  display: inline-block;
  background-color: #3b8595;
  word-break: break-all;
  border-radius: 5px;
  color: #fff;
  max-width: 75%;
  padding: 15px;
}

.messageReceiver {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}

.messageSender {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
}

.chatNow {
  text-align: center;
}

.typingIndicatorContainer {
  display: flex;
  flex: none;
  align-items: flex-end;
  margin: 10px 0;
}

.typingIndicatorBubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 40px;
  margin: 0px 10px;
  background-color: #ddd;
  border-radius: 5px;
}

.typingIndicatorBubbleDot {
  width: 4px;
  height: 4px;
  margin-right: 4px;
  background-color: #555;
  border-radius: 50%;
  animation-name: bounce;
  animation-duration: 1.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.typingIndicatorBubbleDot:first-of-type {
  margin: 0px 4px;
}

.typingIndicatorBubbleDot:nth-of-type(2) {
  animation-delay: 0.15s;
}

.typingIndicatorBubbleDot:nth-of-type(3) {
  animation-delay: 0.3s;
}

@keyframes bounce {
  0%,
  60%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-4px);
  }
}
